header, .dashboard-page {
  padding: 20px;
}
  
header {
  color: white;
  background-color:#3277b3;
}
  
header h3 {
  padding: 20px;
  font-size: 22px;
}
  
header button {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: lightgray;
}
  
.dashboard-page h1 {
  padding: 20px;
  font-size: 22px;
  color: #3277b3;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
  
.list-preview {
  margin: 20px;
  padding: 20px;
  border: 2px solid #3277b3;
  border-radius: 2px;
  box-shadow: 10px 5px 5px lightgray;
  flex-basis: 42%;
}
  
.list-preview h3 {
  padding: 20px;
  font-size: 20px;
}
  
.list-preview ul {
  padding: 20px;
}
  
.list-preview .button {
  font-size: 20px;
  font-weight: bold;
  color: #3277b3;
}

.preview-item {
  padding: 5px;
}

.check-item {
  text-decoration: line-through;
  color: red;
}
  