header, .sign-up-form {
    padding: 20px;
  }
  
  header {
    color: white;
    background-color:#3277b3;
  }
  
  header h3 {
    padding: 20px;
    font-size: 22px;
  }
  
  header button {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: lightgray;
  }
  
  .sign-up-form h1 {
    padding: 20px;
    font-size: 22px;
    color: #3277b3;
  }

  form {
    border-radius: 2px;
    box-shadow: 10px 5px 5px lightgray;
  }
  
  form * {
    margin: 20px;
  }

  form input {
    padding: 5px;
  }
  
  .submit-button {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: lightgray;
  }

  .error {
    color: red;
    font-size: 17px;
  }